footer {
  width: 100%;
  bottom: 0;
  background-color: #DCDCDC;
  position: absolute;
}

#copyright {
  height: 100%;
  text-align: center;
}

.copyright-detail {
  vertical-align: middle;
}

section {
  margin: auto;
}

span {
  white-space: nowrap !important;
}

@media screen and (max-width: 1919px) {
  footer {
    display: none;
  }
}