#copyright {
  width: 100%;
  position: absolute;
  background-color: #DCDCDC;
  text-align: center;
}

section {
  margin: auto;
}

span {
  white-space:nowrap !important;
}

@media screen and (min-width: 1023px) {
  #copyright {
    bottom: 0;
  }
}