#copyright {
  bottom: 0px;
  width: 100%;
  background-color: #DCDCDC;
  display: flex;
  margin: auto;
  text-align: center;
}

section {
  margin: auto;
}

span {
  white-space:nowrap !important;
}

@media screen and (min-width: 1024px) {
  #copyright {
    position: fixed;
  }
}