<br/>
<div class="container-fluid">
  <div class="col-xs-12">
    <textarea id="text-input" class="form-control" rows="13"
        [ngModel]="data" 
        (ngModelChange)="calc($event)" 
        placeholder="Insert text here"></textarea>
    <br />
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="jumbotron">
        <h1 class="display-6">Results:</h1>
        <hr class="my-3">

        <table class="table table-sm" id="results-table">
          <tbody>
            <tr [ngClass]="countObj?.words ? 'table-primary' : ''">
              <td>Words:</td>
              <td>{{ countObj?.words }}</td>
            </tr>
            <tr>
              <td>Unique Words:</td>
              <td>{{ countObj?.unique_words }}</td>
            </tr>
            <tr>
              <td>Characters:</td>
              <td>{{ countObj?.characters }}</td>
            </tr>
            <tr>
              <td>Sentences:</td>
              <td>{{ countObj?.sentences }}</td>
            </tr>
            <tr>
              <td>Readability:</td>
              <td>{{ countObj?.readability | number : '1.1-1' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-6">
      <ng-adsense></ng-adsense>
    </div>
  </div>
</div>
