button {
  margin: 20px;
  padding: 10px;
  display: block;
}

span {
  font-size: 20px;
}

.jumbotron {
  min-height: 400px;
}

@media screen and (min-width: 1025px) {
  #btns-grandparent-div {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #btns-parent-div {
    position: relative;
    text-align: center;
  }
}