<!-- <div class="container-fluid" style="height: 100%;"> -->
  <div class="row" style="height: 100%;">
    <div class="col-md-12 col-lg-4 col-xl-3">
        <div id="btns-grandparent-div">
          <div id="btns-parent-div">
            <button type="button" class="btn btn-primary" (click)="getUpperCase()">UpperCase</button>
            <button type="button" class="btn btn-success" (click)="getLowerCase()">LowerCase</button>
            <button type="button" class="btn btn-warning" (click)="getSpongeMockCase()">SpongeCase</button>
          </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-8 col-xl-9">
      <div class="jumbotron large-jumbotron" style="height: 100%;">
        <h1 class="display-6">Results:</h1>
        <hr class="my-3">
        <div class="jumbotron-text-parent-div">
          <p>{{ manipulatedText }}</p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->