<div class="container-fluid">
  <div class="col-xs-12">
    <div class="jumbotron large-jumbotron">
      <h1 class="display-6">Results:</h1>
      <hr class="my-3">
      <table class="table table-sm">
        <tr *ngFor="let entry of wordFrequency?.map|getValues">
          <td *ngIf="entry.val > 1">{{ entry?.key }}</td>
          <td *ngIf="entry.val > 1">{{ entry?.val }}</td>
        </tr>
        <td>Words Used One Time:</td>
        <td>{{ wordFrequency.usedOnce }}</td>
      </table>
    </div>
  </div>
</div>