<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="jumbotron large-jumbotron">
      <h1 class="display-6">Results:</h1>
      <hr class="my-3">
      <table class="table short-table tableSection">
        <thead></thead>
        <tbody>
          <tr *ngFor="let entry of wordFrequency?.map|getValues">
            <td class="large-column" *ngIf="entry.val > 1">{{ entry?.key }}</td>
            <td class="short-column" *ngIf="entry.val > 1">{{ entry?.val }}</td>
          </tr>
          <tr>
            <td class="large-column">Words Used Once:</td>
            <td class="short-column">{{ wordFrequency.usedOnce }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <a href="https://wordcounttool.com/assets/grammarly.html"><img src="https://wordcounttool.com/assets/grammarly.png"></a>
  </div>
  
</div>
