<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <a href="https://wordcounttool.com/assets/grammarly.html"><img src="https://wordcounttool.com/assets/grammarly.png" style=width:100%;height:auto;"></a>
        </div>
        <div class="col-md-12">
          <textarea id="text-input" class="form-control" rows="30" placeholder="Insert text here"
              [(ngModel)]="data" 
              (ngModelChange)="calculate($event)" ></textarea>
          </div>
        </div>
    </div>

    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>  
  </div>
</div>
