<section class="cjs-piece cjs-input cjs">
  <fieldset class="cjs">
    <select data-cjs-field="type" class="cjs">
      <option value="book" class="cjs">Book</option>
      <option value="incollection" class="cjs">Chapter</option>
      <option value="paper-conference" class="cjs">Paper</option>
      <option value="article-journal" class="cjs">Article</option>
      <option value="article-magazine" class="cjs">Magazine article</option>
      <option value="article-newspaper" class="cjs">Newspaper article</option>
      <option value="webpage" class="cjs">Webpage</option>
    </select>
  </fieldset>
  <fieldset data-cjs-field-type="incollection" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs"> <input data-cjs-field="title" type="text" class="cjs" required="required">
      <legend class="cjs">Chapter title</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="incollection" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs"> <input data-cjs-field="container-title" type="text" class="cjs" required="required">
      <legend class="cjs">Book title</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="book paper-conference article-journal article-magazine article-newspaper webpage"
    class="cjs" data-cjs-field-state="visible">
    <label class="cjs">
      <input data-cjs-field="title" type="text" class="cjs" required="required">
      <legend class="cjs">Title</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="article-journal" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs">
      <input data-cjs-field="container-title" type="text" class="cjs" required="required">
      <legend class="cjs">Journal</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="article-magazine" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs"> <input data-cjs-field="container-title" type="text" class="cjs" required="required">
      <legend class="cjs">Magazine</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="article-newspaper" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs"> <input data-cjs-field="container-title" type="text" class="cjs" required="required">
      <legend class="cjs">Newspaper</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="webpage" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs">
      <input data-cjs-field="container-title" type="text" class="cjs" required="required">
      <legend class="cjs">Website</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="incollection" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs">
      <input data-cjs-field="author" type="text" class="cjs cjs-multipleinput" required="required">
      <legend class="cjs">Chapter author</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="incollection" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs">
      <input data-cjs-field="container-author" type="text" class="cjs cjs-multipleinput" required="required">
      <legend class="cjs">Author</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="book paper-conference article-journal article-magazine article-newspaper webpage"
    class="cjs" data-cjs-field-state="visible">
    <label class="cjs"> <input data-cjs-field="author" type="text" class="cjs cjs-multipleinput" required="required">
      <legend class="cjs">Author</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="book incollection paper-conference article-journal article-magazine article-newspaper"
    class="cjs" data-cjs-field-state="visible">
    <label class="cjs">
      <input data-cjs-field="editor" type="text" class="cjs cjs-multipleinput" required="required">
      <legend class="cjs">Editor</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="book incollection article-newspaper" class="cjs" data-cjs-field-state="visible">
    <label class="cjs">
      <input data-cjs-field="edition" type="number" min="1" class="cjs" required="required">
      <legend class="cjs">Edition</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="paper-conference article-journal" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs">
      <input data-cjs-field="issue" type="number" min="1" class="cjs" required="required">
      <legend class="cjs">Issue</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="book incollection paper-conference article-journal article-magazine" class="cjs"
    data-cjs-field-state="visible">
    <label class="cjs">
      <input data-cjs-field="volume" type="number" min="1" class="cjs" required="required">
      <legend class="cjs">Volume</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="incollection article-journal article-magazine article-newspaper" class="cjs"
    data-cjs-field-state="hidden">
    <label class="cjs">
      <input data-cjs-field="page" type="number" min="1" class="cjs" required="required">
      <input data-cjs-field="page" type="number" min="1" class="cjs" required="required">
      <legend class="cjs">Pages</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="paper-conference" class="cjs" data-cjs-field-state="hidden">
    <label class="cjs"> <input data-cjs-field="event" type="text" class="cjs" required="required">
      <legend class="cjs">Conference</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="book incollection paper-conference" class="cjs" data-cjs-field-state="visible">
    <label class="cjs"> <input data-cjs-field="publisher" type="text" class="cjs" required="required">
      <legend class="cjs">Publisher</legend>
    </label>
  </fieldset>
  <fieldset data-cjs-field-type="book incollection article-newspaper" class="cjs" data-cjs-field-state="visible"> 
    <label class="cjs"> 
      <input data-cjs-field="publisher-place" type="text" class="cjs" required="required">
      <legend class="cjs">Place</legend>
    </label> 
  </fieldset>
  <fieldset class="cjs"> 
    <label class="cjs"> 
      <input data-cjs-field="URL" type="url" class="cjs" required="required">
      <legend class="cjs">URL</legend>
    </label> 
  </fieldset>
  <fieldset data-cjs-field-type="paper-conference article-journal" class="cjs" data-cjs-field-state="hidden"> 
    <label class="cjs"> 
      <input data-cjs-field="DOI" type="text" class="cjs" required="required">
      <legend class="cjs">DOI</legend>
    </label> 
  </fieldset>
  <fieldset data-cjs-field-type="book incollection paper-conference" class="cjs" data-cjs-field-state="visible"> 
    <label class="cjs"> 
      <input data-cjs-field="ISBN" type="text" class="cjs" required="required">
      <legend class="cjs">ISBN</legend>
    </label> 
  </fieldset>
  <fieldset data-cjs-field-type="article-journal article-magazine article-newspaper" class="cjs"
      data-cjs-field-state="hidden"> 
    <label class="cjs">
      <input data-cjs-field="ISSN" type="text" class="cjs" required="required">
      <legend class="cjs">ISSN</legend>
    </label> 
  </fieldset>
  <fieldset class="cjs"> 
    <label class="cjs"> <input data-cjs-field="issued" type="date" class="cjs" required="required">
      <legend class="cjs">Issued</legend>
    </label> 
  </fieldset>
  <fieldset class="cjs"> 
    <label class="cjs"> <input data-cjs-field="accessed" type="date" class="cjs"
        required="required">
      <legend class="cjs">Accessed</legend>
    </label> 
  </fieldset>
</section>