#results-table {
  font-size: 20px;
}

#word-length-table {
  font-size: 12px;
  display: block;
  height: 99%;
  overflow-y: scroll;
}

.large-column {
  width: 60%;
}

.small-column {
  width: 40%;
}

#chart-div {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) { /* medium */
  #chart-div {}

  #results-table {
    font-size: 16px;
  }

  #word-length-table {
    font-size: 12px;
    word-break: inherit;
    padding: 0px;
  }
}

@media screen and (max-width: 767px) { /* small */
  #chart-div {
    background: transparent url("/assets/Twitter_Logo_Blue.png") no-repeat center 65%;
    background-size: 20% 35%;
  }
}

@media screen and (max-width: 400px) { /* xs */
  #chart-div {
    background: transparent url("/assets/Twitter_Logo_Blue.png") no-repeat center 75%;
    background-size: 20% 35%;
  }
}

@media screen and (min-width: 1024px) { /* medium */
  #chart-div {
    background: transparent url("/assets/Twitter_Logo_Blue.png") no-repeat center 80%;
    background-size: 20% 35%;
  }
}

@media screen and (min-width: 1350px) { /* medium */
  #chart-div {
    background: transparent url("/assets/Twitter_Logo_Blue.png") no-repeat center 60%;
    background-size: 20% 40%;
  }
}