@import "~bootstrap/dist/css/bootstrap.min.css";

table {
    word-break: break-word;
    table-layout: fixed ;
    width: 100% ;
}

td {
    width: 25%;
}

.jumbotron {
    background-color: #F3EFEC !important;
  }

.large-jumbotron {
    min-height: 814px !important;
}

textarea {
  overflow: visible !important;
}