@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

table {
    word-break: break-word;
    table-layout: fixed ;
    width: 100% ;
}

.jumbotron {
    background-color: #F3EFEC !important;
  }

.large-jumbotron {
    margin-bottom: 0px !important;
}

textarea {
  overflow: visible !important;
}